/* DASHBOARD */
body {
    padding-top:70px;
}

.show {
    display:block !important;
}

.hide {
    display:none !important;
}


.my-container {
    max-width:960px;
}

.btn-new-ticket{
    margin:8px;
}

.form-register {
    max-width:600px;
}

.page-register-employee .select-supervisors,
.page-register-employee .select-coordinators{
    display:none;
}

footer {
    background-color: #f8f8f8;
    float:left;
    width:100%;
    margin-top:30px;
    padding:15px 20px;
    border-top:1px solid #e7e7e7;
}

footer span {
    text-weight:bold;
    font-size:11px;
    color:#666;
}