<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard - Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/assets/bower_components/bootstrap/dist/css/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="/assets/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="/assets/style.css"></link>
</head>
<body>

    <header th:replace="fragments/header"></header>

    <div class="container-fluid" th:if="${employee} == null">
        <div class="alert alert-danger" role="alert">Não foi possível encontrar o técnico.</div>
    </div>

    <div class="container-fluid" th:if="${employee} != null">

        <div class="page-header">
            <h1 th:text="${employee.getName()}"></h1>
        </div>

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#inventory" aria-controls="inventory" role="tab" data-toggle="tab">Inventário</a></li>
            <li role="presentation"><a href="#transaction" aria-controls="transaction" role="tab" data-toggle="tab">Transações</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="inventory">
                <h3>Inventário</h3>
                <table id="table-invetory" class="display table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Item</th>
                        <th>Liberado</th>
                        <th>Utilizado</th>
                        <th>Total</th>
                        <th>Açao</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Item</th>
                        <th>Liberado</th>
                        <th>Utilizado</th>
                        <th>Total</th>
                        <th>Açao</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr th:each="ti: ${transactionsItems}">
                        <td th:text="${ti.getItem().getName()}">Item</td>
                        <td th:text="${ti.getQuantityReleased()}">3</td>
                        <td th:text="${ti.getQuantityUsed()}">2</td>
                        <td th:text="${ti.getQuantityReleased() - ti.getQuantityUsed()}"></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="transaction">
                <h3>Transações</h3>
                <table id="table-see-employee" class="display table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Realizado por</th>
                        <th>Para</th>
                        <th>Código</th>
                        <th>Ordem</th>
                        <th>Data</th>
                        <th>Açao</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Tipo</th>
                        <th>Realizado por</th>
                        <th>Para</th>
                        <th>Código</th>
                        <th>Ordem</th>
                        <th>Data</th>
                        <th>Açao</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr th:each="tr: ${transactions}">
                        <td th:text="${tr.isWarehouse() ? 'Liberação' : 'Baixa'}"></td>
                        <td th:text="${tr.getDoEmployee().getName()}"></td>
                        <td th:text="${tr.getToEmployee().getName()}"></td>
                        <td th:text="${tr.getCode()}"></td>
                        <td th:text="${tr.getOrder()}"></td>
                        <td th:text="${#dates.format(tr.getCreatedAt(), 'dd/MM/yyyy')}"></td>
                        <td>
                            <a class="btn btn-default btn-xs" th:href="@{'/inventario/' + ${tr.getId()}}" role="button">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                Visualizar
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <footer th:replace="fragments/footer"></footer>

    <script src="/assets/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="/assets/bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/assets/bower_components/datatables.net/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="/assets/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <script src="/assets/page-see-employee.js" type="text/javascript"></script>
</body>
</html>