<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard - Perfil</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/assets/bower_components/bootstrap/dist/css/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="/assets/font-awesome/css/font-awesome.min.css"></link>
    <link rel="stylesheet" type="text/css" href="/assets/style.css"></link>
</head>
<body class="page-register-employee">

    <header th:replace="fragments/header"></header>

    <div class="container-fluid" th:if="${!has}">
        <div class="alert alert-danger" role="alert">Não foi possível encontrar o <span th:text="${type}"></span>.</div>
    </div>

    <div class="container-fluid form-register" th:if="${has}">

        <div class="page-header">
            <h1 th:text="${'Ativar ' + type}"></h1>
        </div>

        <form method="post" class="form-register-employee" action="">

            <div class="alert alert-warning" role="alert" th:text="${message}"></div>

            <div class="row">

                <div class="col col-md-6">
                    <a class="btn btn-default pull-right" th:href="${linkNo}">Não ativar</a>
                </div>

                <div class="col col-md-6">
                    <button type="submit" class="btn btn-warning">Ativar</button>
                </div>

            </div>
        </form>

    </div>

    <footer th:replace="fragments/footer"></footer>

<script src="/assets/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="/assets/bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/page-register-employee.js" type="text/javascript"></script>
</body>
</html>