<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard - Perfil</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/assets/bower_components/bootstrap/dist/css/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="/assets/font-awesome/css/font-awesome.min.css"></link>
    <link rel="stylesheet" type="text/css" href="/assets/style.css"></link>
</head>
<body class="page-register-employee">

    <header th:replace="fragments/header"></header>

    <div class="container-fluid form-register">

        <div class="page-header">
            <h1 th:text="${employeeLogged.getRole().getId() == 4} ? 'Cadastrar funcionário' : 'Cadastrar técnico'"></h1>
        </div>

        <form method="post" class="form-register-employee">
            <div class="form-group">
                <label for="inName">Nome</label>
                <input type="text" name="name" class="form-control" id="inName" placeholder="Nome"></input>
            </div>

            <div class="form-group">
                <label for="inEmail">E-mail</label>
                <input type="email" name="email" class="form-control" id="inEmail" placeholder="E-mail"></input>
            </div>
            <div class="form-group">
                <label for="inPassword">Senha</label>
                <input type="password" name="password" class="form-control" id="inPassword" placeholder="Senha"></input>
            </div>

            <div class="form-group">
                <label for="inConfirmPassword">Confirmar senha</label>
                <input type="password" name="confirmPassword" class="form-control" id="inConfirmPassword" placeholder="Confirmar senha"></input>
            </div>

            <div class="form-group" th:if="${employeeLogged.getRole().getId() == 4}">
                <label>Cargo</label>
                <select name="role.id" class="select-roles form-control">
                    <option selected="selected" disabled="disabled">Selecione um cargo</option>
                    <option th:each="role: ${roles}" th:value="${role.getId()}" th:text="${role.getName()}"></option>
                </select>
            </div>

            <div class="form-group select-supervisors" th:if="${employeeLogged.getRole().getId() == 4}">
                <label>Supervisor</label>
                <select class="form-control">
                    <option selected="selected" disabled="disabled">Selecione um supervisor</option>
                    <option th:each="supervisor: ${supervisors}" th:value="${supervisor.getId()}" th:text="${supervisor.getName()}"></option>
                </select>
            </div>

            <div class="form-group select-coordinators">
                <label>Coordenador</label>
                <select class="form-control">
                    <option selected="selected" disabled="disabled">Selecione um coordenador</option>
                    <option th:each="coordinator: ${coordinators}" th:value="${coordinator.getId()}" th:text="${coordinator.getName()}"></option>
                </select>
            </div>

            <div class="alert alert-danger" role="alert" th:if="${error} != ''" th:text="${error}">...</div>
            <div class="alert alert-success" role="alert" th:if="${success} != ''" th:text="${success}">...</div>

            <button type="submit" class="btn btn-success pull-right">Cadastrar</button>
        </form>

    </div>

    <footer th:replace="fragments/footer"></footer>

    <script src="/assets/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="/assets/bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/assets/page-register-employee.js" type="text/javascript"></script>
</body>
</html>