<header xmlns:th="http://www.w3.org/1999/xhtml">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/painel}">Ferramentas</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="nav navbar-nav" th:if="${employeeLogged.getRole().getId() == 3}">
                    <a th:href="@{/inventario/liberar}" class="btn btn-success btn-new-ticket">Liberar itens</a>
                </div>

                <div class="nav navbar-nav" th:if="${employeeLogged.getRole().getId() == 1}">
                    <a th:href="@{/inventario/baixa}" class="btn btn-success btn-new-ticket">Dar baixa</a>
                </div>

                <ul class="nav navbar-nav">
                    <li class="dropdown" th:if="${employeeLogged.getRole().getId() == 3 || employeeLogged.getRole().getId() == 4}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inventário <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/inventario/liberar}">Liberar</a></li>
                            <li><a th:href="@{/inventario/baixa}">Dar baixa</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" th:if="${employeeLogged.getRole().getId() == 4}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Funcionários <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/funcionarios}">Todos</a></li>
                            <li><a th:href="@{/funcionarios/1}">Técnicos</a></li>
                            <li><a th:href="@{/funcionarios/2}">Supervisor</a></li>
                            <li><a th:href="@{/funcionarios/3}">Almoxarifado</a></li>
                            <li><a th:href="@{/funcionarios/4}">Coordenador</a></li>
                            <li><a th:href="@{/funcionarios/novo}">Novo</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" th:if="${employeeLogged.getRole().getId() == 2}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Técnicos <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/funcionarios/1}">Todos</a></li>
                            <li><a th:href="@{/funcionarios/novo}">Novo</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" th:if="${employeeLogged.getRole().getId() == 3 || employeeLogged.getRole().getId() == 4}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Itens <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/itens}">Listar</a></li>
                            <li><a th:href="@{/itens/novo}">Novo</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/funcionarios/perfil}">Perfil</a></li>
                    <li><a th:href="@{/painel/sair}">Sair</a></li>
                </ul>
                <div class="navbar-form navbar-right" th:if="${employeeLogged.getRole().getId() != 1}">
                    <form method="post" th:action="@{/painel/pesquisar}">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" placeholder="Nome do técnico"></input>
                        </div>
                        <button type="submit" class="btn btn-default">Pesquisar</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>

</header>